body{
    text-align: left;
    background-color: aliceblue;
    color: rgb(21, 39, 126);
}

input, textarea{
    font-family: inherit;
    font-size: inherit;
}

input[type=submit]{
    padding: 5px;
    border: 0; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: aliceblue; 
    background-color: rgb(21, 39, 126); 
    border-radius: 7px;
}

input[type=submit]:hover{
    padding: 5px;
    border: 0; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: rgb(21, 39, 126); 
    background-color: aliceblue; 
    border-radius: 7px;
    font-weight: 700;
}

input[name="change"]{
    word-wrap: break-word;
    width: 500px; 
    font-size: 11px; 
    text-align: left;
    text-align: top;
}
