body{
    background-color: aliceblue; 
    text-align: center; 
}

h2{
    color: rgb(21, 39, 126);
    font-weight: 1000;
}

h3{
    color: rgb(21, 39, 126);
    text-align: center;
    font-weight: 600;
}

h4{
    color: red;
}

.user{
    color: rgb(21, 39, 126); 
    font-weight: 600;
    border-color: black;
    border-width: 400;
}
