body{
    text-align: center;
    background-color: aliceblue;
    color: rgb(21, 39, 126);
}

input, textarea{
    font-family: inherit;
    font-size: inherit; 
}

h4{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
}

h3{
    color: red;
}

input[type=text] {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=submit]{
    padding: 10px;
    border: 0; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: aliceblue; 
    background-color: rgb(21, 39, 126); 
    border-radius: 10px;
}

input[type=submit]:hover{
    padding: 10px;
    border: 0; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: rgb(21, 39, 126); 
    background-color: aliceblue; 
    border-radius: 10px;
    font-weight: 800;
}